@use '../utilities/colors.scss' as col;
@use '../utilities/functions.scss' as fun;

body {
    height: auto;
    min-width: fun.pxToRem(375px); //375px;
    max-width: fun.pxToRem(1440px); //1440px
    overflow-x: hidden;
    overflow-y: scroll;
}