

@keyframes arrow {
  0%{
    height: 45%;
  }
  50% {
    height: 30%;
  }
  100% {
    height: 45%;
  }
}

/* @keyframes overlay {
  0% {
    //background-color: red;
    backdrop-filter: blur(0px);
  }
  100% {
    //background-color: blue;
    backdrop-filter: blur(4px);
  }
} */